  <nav class="breadcrumbs breadcrumbs-funnel" role="navigation" aria-label="breadcrumbs">
    <ul class="breadcrumbs__list d-flex list-unstyled overflow-auto justify-content-between justify-content-lg-center">
        <li class="breadcrumbs__item d-flex" >
          <a class="breadcrumbs__link text-uppercase active-step " href="#" data-nav_step="1">{{ 'product_funnel.nav_step1' | t }}</a>
        </li>
        <li class="breadcrumbs__item d-flex">
            <a class="breadcrumbs__link text-uppercase pointer-events-none" href="#" data-nav_step="2">{{ 'product_funnel.nav_step2' | t }}</a>
        </li>
        <li class="breadcrumbs__item d-flex">
          <a class="breadcrumbs__link text-uppercase pointer-events-none" href="#" data-nav_step="3">{{ 'product_funnel.nav_step3' | t }}</a>
        </li>
        <li class="breadcrumbs__item d-flex">
          <a class="breadcrumbs__link text-uppercase pointer-events-none" href="#" data-nav_step="4">{{ 'product_funnel.nav_step4' | t }}</a>
        </li>
    </ul>
  </nav>