<section class="section-content" data-section-id="{{ section.id }}" >
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
      <product-funnel>
        <div class="shadow p-5 p-lg-7 product-funnel">
           <div class="text-center" data-nav-product-funnel_breadcrumbs>
             {% render 'funnel-breadcrumbs' %}
           </div>
              <div class="funnel-steps my-auto">
              {% comment %} funnel steps start {% endcomment %}
              {% for block in section.blocks %}
                   {% if block.type == 'step-1' %}
                     {% render 'product-funnel-step-1' , block: block %}
                   {% endif %}
                   {% if block.type == 'step-2' %}
                     {% render 'product-funnel-step-2' , block: block %}
                   {% endif %}
                   {% if block.type == 'step-3' %}
                     {% render 'product-funnel-step-3' , block: block %}
                   {% endif %}
                   {% if block.type == 'step-4' %}
                     {% render 'product-funnel-step-4' , block: block %}
                   {% endif %}
             {% endfor %}
             {% comment %} funnel steps end {% endcomment %}
            </div>
        </div>
      </product-funnel>
    </div>
</section>
{% schema %}
  {
    "name": "Funnel",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "fluid_layout",
            "label": "Full Width Layout?",
            "default": false
          }
    ],
    "blocks": [
        {
          "name": "Choose Collection",
          "type": "step-1",
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "label": "Add Heading"
            },
            {
              "type": "collection",
              "id": "collection",
              "label": "Select collection"
            }
          ]
        },
        {
          "name": "Choose Quantity",
          "type": "step-2",
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "label": "Add Heading"
            },
            {
              "type": "text",
              "id": "amount1",
              "label": "Add quantity numbers"
            },
            {
              "type": "text",
              "id": "amount2",
              "label": "Add quantity numbers"
            },
            {
              "type": "text",
              "id": "amount3",
              "label": "Add quantity numbers"
            }
          ]
        },
        {
          "name": "Choose AddOn Products",
          "type": "step-3",
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "label": "Add Heading"
            },
            {
              "type": "collection",
              "id": "add_on_collection",
              "label": "Select Add On Collection"
            }
          ]
        },
        {
          "name": "Summary",
          "type": "step-4",
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "label": "Add Heading"
            }
          ]
        }
    ]
  }
{% endschema %}