.collection-card{
    overflow: hidden;
    position: relative;
    padding-bottom: 104.17%;
}

.collection-card > img,
.collection-card picture img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.collection-card .overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block !important;
}

.collection-card-body{
    position: absolute;
    left: 0;
    right: 0;
    top:2rem;
    z-index: 2;
    transition: ease-in-out 0.25s;
}

@media (min-width:992px){
    .collection-card{
        padding-bottom: 90.29%;
    }
    .collection-card-body{
        top: 2rem;
    }
    .collection-card-body{
        padding-left: 55px !important;
    }
    .collection-card-body .heading_txt{
      max-width: 579px;
    }
    .collection-card-body .caption_txt{
        max-width: 530px;
    }
    .collection-card-body .btn:hover{
        background-color: transparent;
    }
}
@media (max-width:767px){
.caption_txt{
font-size: 15px;
}
.collection-card-body {
padding-top: 5px !important;
}
.featured-columns-section .image-below{
flex-direction: column;
}
.featured-columns-section .image-below .featured-columns-text{
position: relative;
top: auto;
transform: none;
padding: 25px 0;
}
.featured-columns-section .image-below .overlay{
display: none !important;
}
.featured-columns-section .image-below picture{
max-height: 260px;
position: relative;
order: 2;
}
.featured-columns-section .image-below .collection-card{
padding-bottom: 0;
}
.featured-columns-section .image-below .collection-card{
    display: flex !important;
    flex-direction: column;
}
.featured-columns-section .image-below .collection-card > img,
.featured-columns-section .image-below .collection-card picture img{
position: inherit;
mix-blend-mode: multiply;
}
.featured-columns-section .image-below .collection-card-body{
padding-top: 39px!important;
}
}