.card-collection .card-collection-img.portrait {
    padding-top: 125% !important;
  }
​
  .card-collection .card-collection-img.square {
    padding-top: 100% !important;
  }
​
  .card-collection .card-collection-img.landscape {
    padding-top: 60% !important;
  }
​
  .card-collection .card-collection-img:not(.adapt) img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }   
​
  .card-collection-body .text-line-anim{
    z-index: 1;
  }
​
  .card-collection-body .text-line-anim:before {
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--bs-color-primary)!important;
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: -4px;
    margin: 0 auto;
    transition: ease-in-out .25s width;
  }
​
  .card-collection:hover .card-collection-body .text-line-anim:before{
    width: 100%;
  } 
  .collections-list .section-title{
     margin-bottom: 0.625rem;
  }
  .collections-list .heading-wrapper p{
    color: #231F20;
    margin-bottom: 27px;
  }
  .collections-list .card-collection-body{
    padding: 16px 20px 25px;
  }
  .collections-list .short-description p {
    margin-bottom: 4px;
}