.image-with-text .banner-img img{
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 9;
    padding-top: 52px;
    object-fit: contain;
    padding-left: 72px;
    padding-right: 113px;
}
.image-with-text .inside-block strong{
    font-size: 18px;
    font-family: "Inter";
    font-weight: 600;
    line-height: 1.5;
    display: block;
    margin-bottom: 4px !important;
}
.image-with-text .inside-block p:first-child {
    font-size: 19px;
    margin-bottom: 21px;
}
.image-with-text .inside-block p {
    margin-bottom: 24px;
}
.image-with-text .inside-block p:last-child {
    margin-bottom: 29px;
}
.image-with-text .banner-img{
    position: relative;
}
@media screen and (min-width:992px) {
    .image-with-text  .inside-block{
            max-width: 477px;
    }
    .image-with-text .banner-img{
        max-width: 702px !important;
        height: 547px;
        object-fit: contain;
        margin: 0 0 0 auto;
        z-index: 9;
    }
    .featured-image-with-text-wrapper{
        padding-right:2.2rem;
        padding-left: 3.3rem;
    }
    .image-with-text .banner-img:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background: #FFDA27;
        border-radius: 50%;
        width: 473px;
        height: 472px;
    }
    .image-with-text .banner-img:before {
        content: "";
        position: absolute;
        left: 0%;
        bottom: 12.5%;
        border: 40px solid #ffda27;
        width: 145px;
        height: 139px;
        border-radius: 50%;
        z-index: 99;
        padding: 20px;
    }
    
}
@media screen and (min-width:1500px){
    .image-with-text .inside-block{
        max-width: 100%;
}
.image-with-text .inside-block strong{
    font-size: 16px;
}
}
@media screen and (max-width:1250px) and (min-width:992px){
.image-with-text .banner-img img{
    z-index: 9;
    padding-left: 70px;
    padding-right: 50px;
}
.image-with-text .banner-img:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #FFDA27;
    border-radius: 50%;
    width: 350px;
    height: 350px;
}
.image-with-text .banner-img:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12.5%;
    border: 40px solid #ffda27;
    width: 120px;
    height: 100px;
    border-radius: 50%;
    z-index: 99;
    padding: 20px;
}
}
@media screen and (max-width:991px){
    .image-with-text .banner-img img{
        padding-top: 26px;
        padding-left: 37px;
        padding-right: 58px;
    }
    .image-with-text .banner-img:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background: #FFDA27;
        border-radius: 50%;
        width: 241px;
        height: 241px;
    }
    .image-with-text .banner-img:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 13.5%;
        border: 20px solid #ffda27;
        width: 74.17px;
        height: 71.19px;
        border-radius: 50%;
        z-index: 99;
        padding: 20px;
    }

}

@media screen and (max-width:576px){
    .image-with-text .inside-block h2{
            margin-top: -9px;
    }
    .image-with-text .inside-block strong{
        padding-top: 12px !important;
        display: block;
        font-size: 16px;
    }
    .image-with-text .inside-block p {
        margin-bottom: 3px;
    }
    .image-with-text .inside-block p:not(:first-child) {
        font-size: 15px;
    }
    .image-with-text .inside-block .btn{
        margin-top: 3px;
    }
}