  .mask-image-with-text .banner-img{
     position: relative;
     padding-left: 82px;
  }
  .mask-image-with-text .banner-img img{
          padding-top: 92px;
          position: relative;
          z-index: 9;
   }
   .mask-image-with-text  .banner-img:after{
      content: "";
      position: absolute;
      background: #FFDA27;
      right: 0;
      left: 0;
      top: 0;
      border-radius: 50%;
      width: 430px;
      height: 430px;
      z-index: 0;
  }
  .mask-image-with-text .inside-block strong{
      font-size: 18px;
      font-family: "Inter";
      font-weight: 600;
      line-height: 1.5;
  }
  .mask-image-with-text .inside-block p:first-child {
      font-size: 19px;
      margin-bottom: 21px;
  }
  .mask-image-with-text .inside-block p {
      margin-bottom: 24px;
  }
  .mask-image-with-text .inside-block p:last-child {
      margin-bottom: 18px;
  }
  @media screen and (min-width:992px) {
    .mask-image-with-text .inside-block{
        max-width: 571px;
        padding-top: 38px;
        padding-bottom: 37px;
     }
     .mask-image-with-text .text-right{
        padding-left: 70px;
     }
     .mask-image-with-text  .inside-block h2{
        max-width: 444px;
     }
     .mask-image-with-text  .inside-block h2{
        margin-bottom: 21px !important;
     }
     .mask-image-with-text .banner-img{
          max-width: 637px !important;
          height: 641px;
          object-fit: contain;
      }
      .mask-image-with-text .featured-image-with-text-wrapper{
          padding-right:1.75rem;
          padding-left: 1.2rem;
      }
      
  }
  @media screen and (min-width:1500px){
  .mask-image-with-text .inside-block strong{
      font-size: 16px;
  }
  }
  @media screen and (max-width:991px){
    .mask-image-with-text .banner-img{
        padding-left: 44px;
        width: 313px;
        height: 312px;
        margin: 0 auto;
    }
    .mask-image-with-text{
        padding-top: 0 !important;
    }
    .mask-image-with-text  .banner-img:after{
        width: 241px;
        height: 241px;
     }
     .mask-image-with-text .banner-img img{
            padding-top: 48px;
    }
 }
  @media screen and (max-width:576px){
    .mask-image-with-text .inside-block h2{
              margin-top: -9px;
      }
      .mask-image-with-text .inside-block strong{
          padding-top: 12px !important;
          display: block;
          font-size: 16px;
      }
      .mask-image-with-text .inside-block p {
          margin-bottom: 3px;
      }
      .mask-image-with-text .inside-block p:not(:first-child) {
          font-size: 15px;
      }
      .mask-image-with-text .inside-block .btn{
          margin-top: 3px;
      }
     
  }
  