@media (min-width: 768px) {
    .collection-hero__banner{
        min-height: 250px;
    }
}
@media (min-width: 992px) {
    .collection-hero__banner{
        min-height: 359px;
    }
    .collection-description{
        padding-left: 90px;
        padding-right: 80px;
    }
}

.collection-hero__banner .collection-banner__caption {
    position: relative;
    z-index: 1;
}

.banner-breadcrumbs{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 1;
}

.breadcrumbs__item span.breadcrumbs__link{
    color: var(--bs-color-gray-600);
}